/* Universal Styling */

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #F8F4E3;
    box-sizing: border-box;
    line-height: 1.5; 
}

h1 {
    text-align: center;
    color: #F8F4E3;
    background-color: #56203D;
    border-color: #9b7984;
    padding: 10px;
    margin: 10px;
}

a {
    color: #56203D;
    text-decoration: none;
}

img {
    border: 10px solid #C08497;
    border-radius: 5px;
    background-color: #56203D;
    padding: 10px;
}

.image-container {
    text-align: center;
    margin-top: 10px;
}

/* Home Page Styling */

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-color: #56203D;
}


.home-button-links {
    color: #56203D;
    text-align: center;
    text-decoration: none;
    background-color: #C08497;
    border-color: #56203D;
    border-radius: 5px;
    padding: 10px;
    margin: 8px;
    transition: 0.5s ease;
}

.home-button-links:hover {
    background-color: #56203D;
    color:#F8F4E3; 
}

.home-buttons {
    text-align: center;
    margin: 18px;
}

/* Recipe Pages */

.recipe-container {
    border: 5px solid #56203D;
    padding: 10px;
    margin: 10px;
    width: 700px;
}

.return-home-button {
    text-align: center;
    margin: 20px;
}

.return-home-link {
    color: #56203D;
    text-align: center;
    text-decoration: none;
    background-color: #C08497;
    border-color: #56203D;
    border-radius: 5px;
    padding: 10px;
    margin: 8px;
    transition: 0.5s ease;
}

.return-home-link:hover {
    background-color: #56203D;
    color:#F8F4E3; 
}